@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
//using namespace KingsCorner.Pages;

}

<div class="text-center">
    <h1>Welcome to King's Corner!</h1>
    
    <p>Created by Cordell King, using .NET 7.0, C#, HTML5, CSS3 & Razor/Blazor.</p>
    <h4>To begin, select 'Play.'</h4>
    <h4>To learn how to play, select 'Tutorial.'</h4>
    <br><br><hr>

    <h2>What's King's Corner?</h2>
    <div style="width:600px;margin:auto;">
    <p>
        King's Corner is a single-player game played with an ordinary deck of playing cards (Jokers removed).
        You draw one card at a time, and place them on a 4x4 grid.
    </p>
    <p>
        Kings can only go in corners, Jacks can only got in the top squares and Queens in the left and rightmost squares. 
        You can remove a numbered card from the board by 'matching' it with another card with which it adds up to 10 
        (a 4 & a 6 would match, for instance). 
    </p>
    <p>
        If you place all the face cards, you win!
        If you can't place a card, you lose.
    </p>
    <p>
        (A more complete tutorial is included in the 'Tutorial' tab.)
    </p>
    </div>
</div>
