@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
//using namespace KingsCorner.Pages;

}

<div class="text-center">
    <h1>Welcome to King's Corner!</h1>
    
    <p>Created by Cordell King, using .NET 7.0, C#, HTML5, CSS3 & Razor/Blazor.</p>
    <h3>To learn how to play, select "Tutorial."</h3>
    <h3>To begin, select "Play."</h3>
</div>
