@page
@model TutorialModel
@{
    ViewData["Title"] = "Home page";
}
@{

}

<style>
    p, li, h5 {
        text-align: left;
    }
</style>

<div class="text-center" style="width: 800px;margin:auto;">
    <h1>How to play King's Corner</h1>
    <h3>Placing Cards</h3>
    <p>
        The game is played with an ordinary deck of playing cards (Jokers removed). 
        Each turn, you draw a single card and must place it somewhere on a 4x4 grid.
    </p>
    <img src="/Images/tutorial_start.png" style="height:400px;" alt="What the game looks like, near the start" title="A board with seven cards already played. Next, the player must place the 4 of Clubs.">
    <hr>
    <p>
        Each card has rules about where it can be placed.
    </p>
        <li>Kings can only be placed in corners.</li>
        <li>Queens can only be placed in the leftmost and rightmost squares (But not corners).</li>
        <li>Jacks can only be placed in the top or bottom squares (again, not counting corners).</li> 
        <li>Aces and Numbered cards can be placed anywhere.</li>
    <br>
    <h3>Matching Cards</h3>
    <p>
        If two cards add up to 10, you can match them together and remove them from the board.
        (ex: a 2 and a 8, an ace and a 9, or two fives can be matched together.)
        You can ignore suits. You can match cards at any time.
    </p>
    <img src="/Images/tutorial_matching_cards.png" style="height:400px;" alt="A visual example of matching cards" title="An 8 of Clubs matches with a 2 of Clubs, because 8 + 2 = 10.">
    <hr>
    <p>
        A ten can be matched with itself. Just double-click on it.
    </p>
    <img src="/Images/tutorial_matching_ten.png" style="height:400px;" alt="A visual example of matching a ten with itself" title="Just double-click on a ten to make it disappear!">
    <hr>
    <h3>Winning the Game</h3>
    <p>
        Once you've placed all the face cards, you win!
    </p>
    <img src="/Images/tutorial_win.png" style="height:400px;" alt="What the game looks like when you win" title="Even once you've won, you can still play and match cards.">
    <hr>
    <p>
        If you can't find a legal move, you lose.
        Don't worry, though! You can always click 'Undo' as many times as you need. Or click 'New Game' to reshuffle the deck and start a new game!
    </p>
    <img src="/Images/tutorial_lose.png" style="height:400px;" alt="What the game looks like when you lose" title="There's no matches to be made, and all the top and bottom tiles are taken. There's nowhere to put the Jack of Diamonds.">
    <hr>
    <h1>Good Luck, and Have Fun!</h1>
    <hr>
    <h3>Bonus Challenges</h3>
    <h5>No Undos</h5>
    <p>
        Exactly what the tin says: finish a game without using any Undos.
    </p>
    <h5>Hardcore Mode</h5>
    <p>
        When playing hardcore, the game alternates between two phases: the Placing Phase and the Matching Phase. 
        During the Placing Phase, you can ONLY place cards (no matching). 
        Once the whole board is full, you go into the Matching Phase, where you match as many cards as you want. 
        When you're done matching, go back into the Placing Phase.
        See if you can win the game this way!
    </p>
</div>
